.habitCardContainer {
	background-color: hsl(0, 0%, 95%);
	padding: 20px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	width: 1200px;
	box-sizing: border-box;
}

input,
select,
button {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-size: 18px;
}

.habitCardHeader {
	font-size: 36px;
	margin-bottom: 10px;
	font-weight: 510;
}

.habitEditForm {
	display: flex;
	flex-direction: column;
	gap: 5px;
	font-size: 18px;
}

#habitEditInput,
#categoryEditSelect,
#pointsEditInput,
#frequencyEditSelect {
	font-size: 18px;
}

.habitEditSubmit {
	align-self: flex-start;
	font-size: 18px;
}

.habitCardBottom {
	display: flex;
	gap: 5px;
}
